* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/*HEADER*/
header {
    width: 100%;
    height: 72px;

    display: flex;
    padding: 0 64px;
    justify-content: space-between;
    align-items: center;
}

header>img {
    width: 80px;
    height: 40px;
}

.header-nav {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

a {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

nav>button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
}

button>p {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.btn-wrapper {
    display: flex;
    gap: 16px;
}

.btn-wrapper>button {
    border: 1px solid black;
    padding: 8px 20px;
}

.black-btn {
    background-color: black;
    color: white;
}

.black-btn:hover {
    background-color: rgb(221, 105, 10);
    color: white;
    opacity: 0.9;
}

.white-btn:hover {
    background-color: rgb(221, 105, 10);
    color: black;
    opacity: 0.9;
}

/* HERO */

main {
    display: flex;
    flex-direction: column;
    padding: 112px 80px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
}

.titulo {
    width: 600px;
    height: 134px;
}

.titulo>h1 {
    font-size: 56px;
    color: black;
}

.margin-hero {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.margin-hero>p {
    font-size: 18px;
    color: black;
    width: 600px;
    height: 81px;
}

button {
    backdrop-filter: blur(px);
    cursor: pointer;
    transition: all 0.3s ease;
}

.first-button {
    border: 1px solid black;
    padding: 12px 24px;
    background-color: black;
    color: white;
}

.first-button:hover {
    background-color: rgb(221, 105, 10);
    color: white;
    opacity: 0.9;
}

.second-button {
    border: 1px solid black;
    padding: 12px 24px;
}

.second-button:hover {
    background-color: rgb(221, 105, 10);
    color: black;
    opacity: 0.9;
}
.img-central {
    width: 100%;
    margin-top: 80px;
}

.img-central img {
    width: 100%;
    height: auto;
}